*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}  
:root{
    --ff:"Montserrat", sans-serif;
    --color-primary: #ffffff;
    --color-secondary: #000;
    --color-accent: #f9004f;
    --color-accent2: #202020;
    --h1: bold 36px/99px var(--ff);
    --p: 18px/30px var(--ff);
}
body{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px 50px;
}
.logo{
    text-decoration: none;
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 900;
}
span{
    color: var(--color-accent);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: var(--color-primary);
    font-size: 18px;
    transition: .3s;
}
nav a:hover{
    color: var(--color-accent);
    transition: .3s;
}
nav a:first-child,.active:active{
    color: var(--color-accent);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
img{
    height: 30rem;
    border-radius: 13px;
    width: 55rem;
    object-fit: cover;
    margin-right: 0;
}
.section1 h1{
     font: var(--h1);
}
.section1{
    padding-left: 5rem;
}
.section1 p{
    font: var(--p);
}
.btn{
    padding: 10px 27px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 6px;
    color: var(--color-primary);
    font-size: 17px;
    margin-top: 2rem;
    transition: all .5s ease 0s;
    cursor: pointer;
    text-decoration: none;
}
#btn{
    padding: 10px 27px;
    background: none;
    border: 1px solid var(--color-accent);
    border-radius: 6px;
    color: var(--color-primary);
    transition: all .5s ease 0s;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
   transform: scale(1.1);
}
#btn:hover{
    transform: scale(1.1);
}
.mero{
    margin-top: 23rem;
}
.mero h1{
    text-align: center;
    margin-left: 5rem;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 5rem;
}
.card1,.card2,.card3{
    text-align: center;
    height: 25rem;
    width: 22rem;
    border-radius: 1.5rem;
    background-color: var(--color-accent2);
}
.card1 h3,.card2 h3,.card3 h3{
    margin-top: 3.5rem;
}
.card1 p,.card2 p, .card3 p {
    margin-top: 3rem;
    font: var(--p);
}
.card1 i,.card2 i,.card3 i{
    margin-top: 2rem;
    font-size: 80px;
}
.zero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    gap: 15rem;
}
.zero img{
    height: 20rem;
    width: 33rem;
    object-fit: cover;
    margin-left: 6rem;
}
.sec2 h1{
    font: var(--h1);
}
.sec2 p{
    font: var(--p);
}
.footer{
    height: 25rem;
    margin-top: 15rem;
    display: flex;
    align-items: center;
    padding-right: 10rem;
    gap: 5rem;
    padding-left: 5rem;
}
.info a{
   line-height: 5rem;
}
.info i{
    margin-top: 2rem;
    padding: 0 5px 0 5px;
    font-size: 25px;
    cursor: pointer;
}
.info{
    width: 20rem;
}
.info p{
    line-height: 1.4rem;
}
.our{
    padding-left: 18rem;
}
.our,.comp,.sup,.contact{
    margin-bottom: 3rem;
}
.our h3,.sup h3,.comp h3,.contact h3{
    margin-bottom: 1rem;
}
.our p,.comp p,.sup p,.contact p{
    line-height: 1.7rem;
}